@import 'carousel.css';

body{
  box-sizing: border-box;
  background-image: url(../images/background3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 252, 252);
  font-family: 'Righteous', cursive;
  text-align: center;
  height: 1200px;
  text-shadow: 2px 2px 5px black;
}

#im{
  margin-top: 120px;

}


#title{
  color: black;
}

.div1{
  
  text-align: justify;
}

.div2{
  width: 200px;
  text-align: justify;
  height: 200px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.411);
  border-radius: 5px;
  margin-top: 80px;
}

.wrapper h1{
  text-align: center;
}


img{

  border-radius: 5px;
}


@media (max-width: 430px){


.div1{
  text-align: center;
  width: 200px;
  height: 90px;
  margin-bottom: 5px;
  }

  .wrapper{
    margin-top: 50px;
  }
    audio{
      margin-top: 50px;
    }
}



